services:
  vxp-unified:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vxp-all-in-one
    restart: unless-stopped
    env_file:
      - agent/.env
      - call/.env
      - rag/.env
    ports:
      - "9001:9001" # Agent
      - "9888:9888" # Call
      - "9000:9000" # RAG
    volumes:
      - ./chroma_store:/home/user/app/chroma_store

volumes:
  chroma_data: